@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFangSC-Regular', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background

button
  border: 0
  outline:none
  background: transparent

input[disabled],input:disabled,input.disabled
  color: #4A4A4A
  -webkit-text-fill-color: #3e3e3e
  opacity: 1



