@font-face
  font-family: '51loan-icon'
  src: url('../fonts/51loan-icon.eot?ihefnq')
  src: url('../fonts/51loan-icon.eot?ihefnq#iefix') format('embedded-opentype'),
          url('../fonts/51loan-icon.ttf?ihefnq') format('truetype'),
          url('../fonts/51loan-icon.woff?ihefnq') format('woff'),
          url('../fonts/51loan-icon.svg?ihefnq#51loan-icon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '51loan-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-data:before
  content: "\e911"

.icon-tool:before
  content: "\e910"

.icon-undagou:before
  content: "\e90f"

.icon-dagou:before
  content: "\e90e"

.icon-down-arrow:before
  content: "\e90d"

.icon-back-arrow:before
  content: "\e900"

.icon-broadcast:before
  content: "\e901"

.icon-captcha:before
  content: "\e902"

.icon-document:before
  content: "\e903"

.icon-ellipsis:before
  content: "\e904"

.icon-home:before
  content: "\e905"

.icon-loan:before
  content: "\e906"

.icon-message:before
  content: "\e907"

.icon-next-arrow:before
  content: "\e908"

.icon-phone:before
  content: "\e909"

.icon-question-mark:before
  content: "\e90a"

.icon-sms-code:before
  content: "\e90b"

.icon-user-info:before
  content: "\e90c"

