// 字体颜色定义规范
$color-background = #fff
$color-text-fff = #fff
$color-text-4a4a4a = #4a4a4a
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-20 = 20px
$font-size-22 = 22px
$font-size-24 = 24px
$font-size-26 = 26px
$font-size-28 = 28px
$font-size-30 = 30px
$font-size-32 = 32px
$font-size-34 = 34px
$font-size-36 = 36px
$font-size-40 = 40px
$font-size-44 = 44px
$font-size-48 = 48px
$font-size-54 = 54px

//边框颜色定义规范
$color-row-line = #ebebeb

